*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // default browser font size is 16px
    // convert it to 10 px for convienient
    // so 1 rem is 10 px
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 75%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

button {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
}