<div class="col-sm-12 app-nav">
    <div class="row">
        <div class="col-xs-6">
            <butonn class="btn btn-primary btn-logout"
                    ng-click="logout()"
                    ng-if="auth">
                Wyloguj
            </butonn>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary btn-language" ng-click="showLangDropdown()">
                Polski
                <span class="caret"></span>
            </button>
        </div>
    </div>
</div>