.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 4rem;
    }
    &__path {
        margin: 2rem 0;
        display: flex;
        width: 110%;
        
        &-text {
            flex: 1;
            border: 1px solid gray;
            height: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-button {
            padding: 0 3px;
            border: 1px solid gray;
            border-left: none;
            height: 30px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &__options {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;

        & input {
            height: 2.5rem;
            width: 2.5rem;
            margin: 0;
        }
        & label {
            font-size: 1.4rem;
            padding-left: .5rem;
            margin: 0;
        }
    }

    &__button {
        width: 25rem;
        height: 4rem;
        border: 0;
        background-color: green;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        border-radius: 5px;
    }
}