@mixin clearfix {
    &::after {
        content:"";
        display: table;
        clear: both;
    }
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*
    media query manager:

    0 - 600px       : phone
    600 - 900px     : tablet
    900 - 1200px    : small laptop
    1800px +        : desktop

    - phone
    - tab-port
    - tab-land
    - big-desktop

    1em = 16px here
 */

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content
        }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content
        }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
    }
}