$color-white: #fff;
$color-black: #000;

$color-primary: #16A09E;
$color-secondary: #dca17c;

$color-primary-dark: #d9963b;

$color-grey-light-1: #f7f5ed;
$color-grey-light-2: #eee;
$color-grey-light-3: #f3f3f3;
$color-grey-light-bs: #dee2e6;

$color-grey-dark-1: #777;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$background-color: #f7f5ed;

// grid
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;